<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <KojiroMike_RandomOrderId>
            <version>0.9.0</version>
        </KojiroMike_RandomOrderId>
    </modules>
    <global>
        <models>
            <kojiromike>
                <class>KojiroMike_RandomOrderId_Model</class>
            </kojiromike>
        </models>
        <resources>
            <kojiromikerandomorderidsetup>
                <setup>
                    <module>KojiroMike_RandomOrderId</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </kojiromikerandomorderidsetup>
        </resources>
    </global>
</config>
