<?xml version="1.0" encoding="utf-8"?>
<config>
    <modules>
        <KojiroMike_RandomOrderId>
            <version>0.9.0</version>
        </KojiroMike_RandomOrderId>
    </modules>
    <global>
        <models>
            <eav>
                <rewrite>
                    <random_order_id>KojiroMike_RandomOrderId_Model_Randomize</random_order_id>
                </rewrite>
            </eav>
        </models>
    </global>
</config>
